@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-6">
		<h2>The Code - @ViewBag.Title</h2>
		<p>This is the base of our WebApp</p>

		<form>
			<div class="form-group">
				<label>Date</label>
				<input type="text" value="" class="form-control" />
			</div>
			<div class="form-group">
				<label>Location</label>
				<input type="text" value="" class="form-control" />
			</div>
			<div>
				<input type="submit" value="Add" class="btn btn-success" />
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<h2>The Map</h2>
	</div>
</div>